/* Figma Styles of your File */
:root {
  /* Colors */
  --dashboardshoplworkscom-alabaster: #f9f9f9;
  --dashboardshoplworkscom-alabaster: #f9f9f9;
  --dashboardshoplworkscom-alabaster: #f9f9f9;
  --dashboardshoplworkscom-alto: #dddddd;
  --dashboardshoplworkscom-alto: #d9d9d9;
  --dashboardshoplworkscom-alto: #dddddd;
  --dashboardshoplworkscom-athens-gray: #f1f4f6;
  --dashboardshoplworkscom-bali-hai: #8092aa;
  --dashboardshoplworkscom-bismark: #406588;
  --dashboardshoplworkscom-bittersweet: #ff6666;
  --dashboardshoplworkscom-black: #000000;
  --dashboardshoplworkscom-botticelli: #dce3ee;
  --dashboardshoplworkscom-boulder: #777777;
  --dashboardshoplworkscom-curious-blue: #2d89e4;
  --dashboardshoplworkscom-dodger-blue: #3299fe;
  --dashboardshoplworkscom-dodger-blue: #4b7fff;
  --dashboardshoplworkscom-dusty-gray: #999999;
  --dashboardshoplworkscom-dusty-gray: #999999;
  --dashboardshoplworkscom-dusty-gray-5: rgba(153, 153, 153, 0.05);
  --dashboardshoplworkscom-french-pass: #c1e0fe;
  --dashboardshoplworkscom-gallery: #eaeaea;
  --dashboardshoplworkscom-loblolly: #bcc4cb;
  --dashboardshoplworkscom-malibu: #84c2fe;
  --dashboardshoplworkscom-malibu: #84c2fc;
  --dashboardshoplworkscom-medium-purple: #8b65d6;
  --dashboardshoplworkscom-mercury: #eaeaea;
  --dashboardshoplworkscom-mine-shaft: #333333;
  --dashboardshoplworkscom-mine-shaft: #2a2a2a;
  --dashboardshoplworkscom-mine-shaft-5: rgba(51, 51, 51, 0.05);
  --dashboardshoplworkscom-mine-shaft-60: rgba(51, 51, 51, 0.6);
  --dashboardshoplworkscom-regent-gray: #8898a7;
  --dashboardshoplworkscom-salmon: #ff7979;
  --dashboardshoplworkscom-puerto-rico: #4dc9aa;
  --dashboardshoplworkscom-selective-yellow: #ffbb00;
  --dashboardshoplworkscom-silver: #cccccc;
  --dashboardshoplworkscom-silver: #cacaca;
  --dashboardshoplworkscom-silver: #bbbbbb;
  --dashboardshoplworkscom-solitude: #f4f4f4;
  --dashboardshoplworkscom-web-orange: #ffa800;
  --dashboardshoplworkscom-white: #ffffff;
  --dashboardshoplworkscom-white-10: rgba(255, 255, 255, 0.1);
  --dashboardshoplworkscom-white-20: rgba(255, 255, 255, 0.2);
  --dashboardshoplworkscom-white-50: rgba(255, 255, 255, 0.5);
  --dashboardshoplworkscom-white-wild-sand: linear-gradient(
      to left,
      #f4f4f4,
      #f4f4f4
    ),
    linear-gradient(to left, #ffffff, #ffffff);
  --dashboardshoplworkscom-wild-sand: #f4f4f4;
  --dashboardshoplworkscom-wild-sand: #f4f4f4;
  --dashboardshoplworkscom-wild-sand: #f4f4f4;
  --roughsidecokr-black: #000000;
  --roughsidecokr-black-40: rgba(0, 0, 0, 0.4);
  --roughsidecokr-black-5: rgba(0, 0, 0, 0.05);
  --roughsidecokr-dusty-gray: #999999;
  --roughsidecokr-gallery: #ebebeb;
  --roughsidecokr-mine-shaft: #292929;
  --roughsidecokr-rangoon-green: #0a0a08;
  --roughsidecokr-sea-green: #31a552;
  --roughsidecokr-silver: #cccccc;
  --roughsidecokr-tundora: #444444;
  --roughsidecokr-white: #ffffff;

  /* Fonts */
  --dashboardshoplworkscom-semantic-button-font-family: Inter-Medium, sans-serif;
  --dashboardshoplworkscom-semantic-button-font-size: 12.6953125px;
  --dashboardshoplworkscom-semantic-button-line-height: 16px;
  --dashboardshoplworkscom-semantic-button-font-weight: 500;
  --dashboardshoplworkscom-semantic-button-font-style: normal;
  --dashboardshoplworkscom-semantic-button-font-family: Inter-Medium, sans-serif;
  --dashboardshoplworkscom-semantic-button-font-size: 13.125px;
  --dashboardshoplworkscom-semantic-button-line-height: 18px;
  --dashboardshoplworkscom-semantic-button-font-weight: 500;
  --dashboardshoplworkscom-semantic-button-font-style: normal;
  --dashboardshoplworkscom-semantic-button-font-family: Inter-Medium, sans-serif;
  --dashboardshoplworkscom-semantic-button-font-size: 13.234375px;
  --dashboardshoplworkscom-semantic-button-line-height: 18px;
  --dashboardshoplworkscom-semantic-button-font-weight: 500;
  --dashboardshoplworkscom-semantic-button-font-style: normal;
  --dashboardshoplworkscom-semantic-button-font-family: Inter-Medium, sans-serif;
  --dashboardshoplworkscom-semantic-button-font-size: 13.453125px;
  --dashboardshoplworkscom-semantic-button-line-height: 18px;
  --dashboardshoplworkscom-semantic-button-font-weight: 500;
  --dashboardshoplworkscom-semantic-button-font-style: normal;
  --dashboardshoplworkscom-semantic-button-font-family: Inter-Medium, sans-serif;
  --dashboardshoplworkscom-semantic-button-font-size: 13.671875px;
  --dashboardshoplworkscom-semantic-button-line-height: 18px;
  --dashboardshoplworkscom-semantic-button-font-weight: 500;
  --dashboardshoplworkscom-semantic-button-font-style: normal;
  --dashboardshoplworkscom-semantic-heading-3-font-family: Inter-Bold,
    sans-serif;
  --dashboardshoplworkscom-semantic-heading-3-font-size: 17.015625px;
  --dashboardshoplworkscom-semantic-heading-3-line-height: 22px;
  --dashboardshoplworkscom-semantic-heading-3-font-weight: 700;
  --dashboardshoplworkscom-semantic-heading-3-font-style: normal;
  --dashboardshoplworkscom-semantic-label-font-family: Inter-Medium, sans-serif;
  --dashboardshoplworkscom-semantic-label-font-size: 13px;
  --dashboardshoplworkscom-semantic-label-line-height: 18px;
  --dashboardshoplworkscom-semantic-label-font-weight: 500;
  --dashboardshoplworkscom-semantic-label-font-style: normal;
  --dashboardshoplworkscom-semantic-link-font-family: Inter-Medium, sans-serif;
  --dashboardshoplworkscom-semantic-link-font-size: 12.1875px;
  --dashboardshoplworkscom-semantic-link-line-height: 16px;
  --dashboardshoplworkscom-semantic-link-font-weight: 500;
  --dashboardshoplworkscom-semantic-link-font-style: normal;
  --dashboardshoplworkscom-semantic-textarea-font-family: Inter-Medium,
    sans-serif;
  --dashboardshoplworkscom-semantic-textarea-font-size: 13.125px;
  --dashboardshoplworkscom-semantic-textarea-line-height: 18px;
  --dashboardshoplworkscom-semantic-textarea-font-weight: 500;
  --dashboardshoplworkscom-semantic-textarea-font-style: normal;
  --dashboardshoplworkscom-semantic-item-font-family: Inter-Medium, sans-serif;
  --dashboardshoplworkscom-semantic-item-font-size: 12px;
  --dashboardshoplworkscom-semantic-item-line-height: 18px;
  --dashboardshoplworkscom-semantic-item-font-weight: 500;
  --dashboardshoplworkscom-semantic-item-font-style: normal;
  --dashboardshoplworkscom-semantic-item-font-family: Inter-Bold, sans-serif;
  --dashboardshoplworkscom-semantic-item-font-size: 16px;
  --dashboardshoplworkscom-semantic-item-line-height: normal;
  --dashboardshoplworkscom-semantic-item-font-weight: 700;
  --dashboardshoplworkscom-semantic-item-font-style: normal;
  --dashboardshoplworkscom-semantic-label-font-family: Inter-Medium, sans-serif;
  --dashboardshoplworkscom-semantic-label-font-size: 14px;
  --dashboardshoplworkscom-semantic-label-line-height: 24px;
  --dashboardshoplworkscom-semantic-label-font-weight: 500;
  --dashboardshoplworkscom-semantic-label-font-style: normal;
  --dashboardshoplworkscom-semantic-label-font-family: Inter-Bold, sans-serif;
  --dashboardshoplworkscom-semantic-label-font-size: 16px;
  --dashboardshoplworkscom-semantic-label-line-height: 20px;
  --dashboardshoplworkscom-semantic-label-font-weight: 700;
  --dashboardshoplworkscom-semantic-label-font-style: normal;
  --dashboardshoplworkscom-semantic-link-font-family: Inter-Medium, sans-serif;
  --dashboardshoplworkscom-semantic-link-font-size: 13px;
  --dashboardshoplworkscom-semantic-link-line-height: 16px;
  --dashboardshoplworkscom-semantic-link-font-weight: 500;
  --dashboardshoplworkscom-semantic-link-font-style: normal;
  --dashboardshoplworkscom-semantic-link-font-family: Inter-Bold, sans-serif;
  --dashboardshoplworkscom-semantic-link-font-size: 16px;
  --dashboardshoplworkscom-semantic-link-line-height: 20px;
  --dashboardshoplworkscom-semantic-link-font-weight: 700;
  --dashboardshoplworkscom-semantic-link-font-style: normal;
  --dashboardshoplworkscom-inter-bold-font-family: Inter-Bold, sans-serif;
  --dashboardshoplworkscom-inter-bold-font-size: 11px;
  --dashboardshoplworkscom-inter-bold-line-height: normal;
  --dashboardshoplworkscom-inter-bold-font-weight: 700;
  --dashboardshoplworkscom-inter-bold-font-style: normal;
  --dashboardshoplworkscom-inter-bold-font-family: Inter-Bold, sans-serif;
  --dashboardshoplworkscom-inter-bold-font-size: 11.984375px;
  --dashboardshoplworkscom-inter-bold-line-height: 16px;
  --dashboardshoplworkscom-inter-bold-font-weight: 700;
  --dashboardshoplworkscom-inter-bold-font-style: normal;
  --dashboardshoplworkscom-inter-bold-font-family: Inter-Bold, sans-serif;
  --dashboardshoplworkscom-inter-bold-font-size: 12.0859375px;
  --dashboardshoplworkscom-inter-bold-line-height: 16px;
  --dashboardshoplworkscom-inter-bold-font-weight: 700;
  --dashboardshoplworkscom-inter-bold-font-style: normal;
  --dashboardshoplworkscom-inter-bold-font-family: Inter-Bold, sans-serif;
  --dashboardshoplworkscom-inter-bold-font-size: 12.1875px;
  --dashboardshoplworkscom-inter-bold-line-height: 16px;
  --dashboardshoplworkscom-inter-bold-font-weight: 700;
  --dashboardshoplworkscom-inter-bold-font-style: normal;
  --dashboardshoplworkscom-inter-bold-font-family: Inter-Bold, sans-serif;
  --dashboardshoplworkscom-inter-bold-font-size: 12.1875px;
  --dashboardshoplworkscom-inter-bold-line-height: 18px;
  --dashboardshoplworkscom-inter-bold-font-weight: 700;
  --dashboardshoplworkscom-inter-bold-font-style: normal;
  --dashboardshoplworkscom-inter-bold-font-family: Inter-Bold, sans-serif;
  --dashboardshoplworkscom-inter-bold-font-size: 12.2890625px;
  --dashboardshoplworkscom-inter-bold-line-height: 16px;
  --dashboardshoplworkscom-inter-bold-font-weight: 700;
  --dashboardshoplworkscom-inter-bold-font-style: normal;
  --dashboardshoplworkscom-inter-bold-font-family: Inter-Bold, sans-serif;
  --dashboardshoplworkscom-inter-bold-font-size: 12.2890625px;
  --dashboardshoplworkscom-inter-bold-line-height: 18px;
  --dashboardshoplworkscom-inter-bold-font-weight: 700;
  --dashboardshoplworkscom-inter-bold-font-style: normal;
  --dashboardshoplworkscom-inter-bold-font-family: Inter-Bold, sans-serif;
  --dashboardshoplworkscom-inter-bold-font-size: 12.59375px;
  --dashboardshoplworkscom-inter-bold-line-height: 18px;
  --dashboardshoplworkscom-inter-bold-font-weight: 700;
  --dashboardshoplworkscom-inter-bold-font-style: normal;
  --dashboardshoplworkscom-inter-bold-font-family: Inter-Bold, sans-serif;
  --dashboardshoplworkscom-inter-bold-font-size: 13px;
  --dashboardshoplworkscom-inter-bold-line-height: 16px;
  --dashboardshoplworkscom-inter-bold-font-weight: 700;
  --dashboardshoplworkscom-inter-bold-font-style: normal;
  --dashboardshoplworkscom-inter-bold-font-family: Inter-Bold, sans-serif;
  --dashboardshoplworkscom-inter-bold-font-size: 13.125px;
  --dashboardshoplworkscom-inter-bold-line-height: 18px;
  --dashboardshoplworkscom-inter-bold-font-weight: 700;
  --dashboardshoplworkscom-inter-bold-font-style: normal;
  --dashboardshoplworkscom-inter-bold-font-family: Inter-Bold, sans-serif;
  --dashboardshoplworkscom-inter-bold-font-size: 13.125px;
  --dashboardshoplworkscom-inter-bold-line-height: 16px;
  --dashboardshoplworkscom-inter-bold-font-weight: 700;
  --dashboardshoplworkscom-inter-bold-font-style: normal;
  --dashboardshoplworkscom-inter-bold-font-family: Inter-Bold, sans-serif;
  --dashboardshoplworkscom-inter-bold-font-size: 13.5625px;
  --dashboardshoplworkscom-inter-bold-line-height: 18px;
  --dashboardshoplworkscom-inter-bold-font-weight: 700;
  --dashboardshoplworkscom-inter-bold-font-style: normal;
  --dashboardshoplworkscom-inter-bold-font-family: Inter-Bold, sans-serif;
  --dashboardshoplworkscom-inter-bold-font-size: 13.671875px;
  --dashboardshoplworkscom-inter-bold-line-height: 18px;
  --dashboardshoplworkscom-inter-bold-font-weight: 700;
  --dashboardshoplworkscom-inter-bold-font-style: normal;
  --dashboardshoplworkscom-inter-bold-font-family: Inter-Bold, sans-serif;
  --dashboardshoplworkscom-inter-bold-font-size: 14px;
  --dashboardshoplworkscom-inter-bold-line-height: normal;
  --dashboardshoplworkscom-inter-bold-font-weight: 700;
  --dashboardshoplworkscom-inter-bold-font-style: normal;
  --dashboardshoplworkscom-inter-bold-font-family: Inter-Bold, sans-serif;
  --dashboardshoplworkscom-inter-bold-font-size: 14px;
  --dashboardshoplworkscom-inter-bold-line-height: 18px;
  --dashboardshoplworkscom-inter-bold-font-weight: 700;
  --dashboardshoplworkscom-inter-bold-font-style: normal;
  --dashboardshoplworkscom-inter-bold-font-family: Inter-Bold, sans-serif;
  --dashboardshoplworkscom-inter-bold-font-size: 14px;
  --dashboardshoplworkscom-inter-bold-line-height: 32px;
  --dashboardshoplworkscom-inter-bold-font-weight: 700;
  --dashboardshoplworkscom-inter-bold-font-style: normal;
  --dashboardshoplworkscom-inter-bold-font-family: Inter-Bold, sans-serif;
  --dashboardshoplworkscom-inter-bold-font-size: 14px;
  --dashboardshoplworkscom-inter-bold-line-height: 16px;
  --dashboardshoplworkscom-inter-bold-font-weight: 700;
  --dashboardshoplworkscom-inter-bold-font-style: normal;
  --dashboardshoplworkscom-inter-bold-font-family: Inter-Bold, sans-serif;
  --dashboardshoplworkscom-inter-bold-font-size: 14px;
  --dashboardshoplworkscom-inter-bold-line-height: 14px;
  --dashboardshoplworkscom-inter-bold-font-weight: 700;
  --dashboardshoplworkscom-inter-bold-font-style: normal;
  --dashboardshoplworkscom-inter-bold-font-family: Inter-Bold, sans-serif;
  --dashboardshoplworkscom-inter-bold-font-size: 15px;
  --dashboardshoplworkscom-inter-bold-line-height: 20px;
  --dashboardshoplworkscom-inter-bold-font-weight: 700;
  --dashboardshoplworkscom-inter-bold-font-style: normal;
  --dashboardshoplworkscom-inter-bold-font-family: Inter-Bold, sans-serif;
  --dashboardshoplworkscom-inter-bold-font-size: 16px;
  --dashboardshoplworkscom-inter-bold-line-height: 20px;
  --dashboardshoplworkscom-inter-bold-font-weight: 700;
  --dashboardshoplworkscom-inter-bold-font-style: normal;
  --dashboardshoplworkscom-inter-bold-font-family: Inter-Bold, sans-serif;
  --dashboardshoplworkscom-inter-bold-font-size: 16px;
  --dashboardshoplworkscom-inter-bold-line-height: 16px;
  --dashboardshoplworkscom-inter-bold-font-weight: 700;
  --dashboardshoplworkscom-inter-bold-font-style: normal;
  --dashboardshoplworkscom-inter-bold-font-family: Inter-Bold, sans-serif;
  --dashboardshoplworkscom-inter-bold-font-size: 16.875px;
  --dashboardshoplworkscom-inter-bold-line-height: 22px;
  --dashboardshoplworkscom-inter-bold-font-weight: 700;
  --dashboardshoplworkscom-inter-bold-font-style: normal;
  --dashboardshoplworkscom-inter-bold-font-family: Inter-Bold, sans-serif;
  --dashboardshoplworkscom-inter-bold-font-size: 18.90625px;
  --dashboardshoplworkscom-inter-bold-line-height: 24px;
  --dashboardshoplworkscom-inter-bold-font-weight: 700;
  --dashboardshoplworkscom-inter-bold-font-style: normal;
  --dashboardshoplworkscom-inter-bold-font-family: Inter-Bold, sans-serif;
  --dashboardshoplworkscom-inter-bold-font-size: 20px;
  --dashboardshoplworkscom-inter-bold-line-height: 21px;
  --dashboardshoplworkscom-inter-bold-font-weight: 700;
  --dashboardshoplworkscom-inter-bold-font-style: normal;
  --dashboardshoplworkscom-inter-bold-font-family: Inter-Bold, sans-serif;
  --dashboardshoplworkscom-inter-bold-font-size: 20px;
  --dashboardshoplworkscom-inter-bold-line-height: 24px;
  --dashboardshoplworkscom-inter-bold-font-weight: 700;
  --dashboardshoplworkscom-inter-bold-font-style: normal;
  --dashboardshoplworkscom-inter-bold-font-family: Inter-Bold, sans-serif;
  --dashboardshoplworkscom-inter-bold-font-size: 24px;
  --dashboardshoplworkscom-inter-bold-line-height: normal;
  --dashboardshoplworkscom-inter-bold-font-weight: 700;
  --dashboardshoplworkscom-inter-bold-font-style: normal;
  --dashboardshoplworkscom-inter-bold-font-family: Inter-Bold, sans-serif;
  --dashboardshoplworkscom-inter-bold-font-size: 16px;
  --dashboardshoplworkscom-inter-bold-line-height: 14px;
  --dashboardshoplworkscom-inter-bold-font-weight: 700;
  --dashboardshoplworkscom-inter-bold-font-style: normal;
  --dashboardshoplworkscom-inter-bold-underline-font-family: Inter-Bold,
    sans-serif;
  --dashboardshoplworkscom-inter-bold-underline-font-size: 16px;
  --dashboardshoplworkscom-inter-bold-underline-line-height: 20px;
  --dashboardshoplworkscom-inter-bold-underline-font-weight: 700;
  --dashboardshoplworkscom-inter-bold-underline-font-style: normal;
  --dashboardshoplworkscom-inter-medium-font-family: Inter-Medium, sans-serif;
  --dashboardshoplworkscom-inter-medium-font-size: 11.25px;
  --dashboardshoplworkscom-inter-medium-line-height: 16px;
  --dashboardshoplworkscom-inter-medium-font-weight: 500;
  --dashboardshoplworkscom-inter-medium-font-style: normal;
  --dashboardshoplworkscom-inter-medium-font-family: Inter-Medium, sans-serif;
  --dashboardshoplworkscom-inter-medium-font-size: 11.25px;
  --dashboardshoplworkscom-inter-medium-line-height: 18px;
  --dashboardshoplworkscom-inter-medium-font-weight: 500;
  --dashboardshoplworkscom-inter-medium-font-style: normal;
  --dashboardshoplworkscom-inter-medium-font-family: Inter-Medium, sans-serif;
  --dashboardshoplworkscom-inter-medium-font-size: 12px;
  --dashboardshoplworkscom-inter-medium-line-height: 18px;
  --dashboardshoplworkscom-inter-medium-font-weight: 500;
  --dashboardshoplworkscom-inter-medium-font-style: normal;
  --dashboardshoplworkscom-inter-medium-font-family: Inter-Medium, sans-serif;
  --dashboardshoplworkscom-inter-medium-font-size: 12px;
  --dashboardshoplworkscom-inter-medium-line-height: 16px;
  --dashboardshoplworkscom-inter-medium-font-weight: 500;
  --dashboardshoplworkscom-inter-medium-font-style: normal;
  --dashboardshoplworkscom-inter-medium-font-family: Inter-Medium, sans-serif;
  --dashboardshoplworkscom-inter-medium-font-size: 12.1875px;
  --dashboardshoplworkscom-inter-medium-line-height: 16px;
  --dashboardshoplworkscom-inter-medium-font-weight: 500;
  --dashboardshoplworkscom-inter-medium-font-style: normal;
  --dashboardshoplworkscom-inter-medium-font-family: Inter-Medium, sans-serif;
  --dashboardshoplworkscom-inter-medium-font-size: 12.25px;
  --dashboardshoplworkscom-inter-medium-line-height: 18px;
  --dashboardshoplworkscom-inter-medium-font-weight: 500;
  --dashboardshoplworkscom-inter-medium-font-style: normal;
  --dashboardshoplworkscom-inter-medium-font-family: Inter-Medium, sans-serif;
  --dashboardshoplworkscom-inter-medium-font-size: 12.390625px;
  --dashboardshoplworkscom-inter-medium-line-height: 48px;
  --dashboardshoplworkscom-inter-medium-font-weight: 500;
  --dashboardshoplworkscom-inter-medium-font-style: normal;
  --dashboardshoplworkscom-inter-medium-font-family: Inter-Medium, sans-serif;
  --dashboardshoplworkscom-inter-medium-font-size: 12.390625px;
  --dashboardshoplworkscom-inter-medium-line-height: normal;
  --dashboardshoplworkscom-inter-medium-font-weight: 500;
  --dashboardshoplworkscom-inter-medium-font-style: normal;
  --dashboardshoplworkscom-inter-medium-font-family: Inter-Medium, sans-serif;
  --dashboardshoplworkscom-inter-medium-font-size: 13px;
  --dashboardshoplworkscom-inter-medium-line-height: normal;
  --dashboardshoplworkscom-inter-medium-font-weight: 500;
  --dashboardshoplworkscom-inter-medium-font-style: normal;
  --dashboardshoplworkscom-inter-medium-font-family: Inter-Medium, sans-serif;
  --dashboardshoplworkscom-inter-medium-font-size: 13px;
  --dashboardshoplworkscom-inter-medium-line-height: 16px;
  --dashboardshoplworkscom-inter-medium-font-weight: 500;
  --dashboardshoplworkscom-inter-medium-font-style: normal;
  --dashboardshoplworkscom-inter-medium-font-family: Inter-Medium, sans-serif;
  --dashboardshoplworkscom-inter-medium-font-size: 13.125px;
  --dashboardshoplworkscom-inter-medium-line-height: 18px;
  --dashboardshoplworkscom-inter-medium-font-weight: 500;
  --dashboardshoplworkscom-inter-medium-font-style: normal;
  --dashboardshoplworkscom-inter-medium-font-family: Inter-Medium, sans-serif;
  --dashboardshoplworkscom-inter-medium-font-size: 13.234375px;
  --dashboardshoplworkscom-inter-medium-line-height: 18px;
  --dashboardshoplworkscom-inter-medium-font-weight: 500;
  --dashboardshoplworkscom-inter-medium-font-style: normal;
  --dashboardshoplworkscom-inter-medium-font-family: Inter-Medium, sans-serif;
  --dashboardshoplworkscom-inter-medium-font-size: 13.671875px;
  --dashboardshoplworkscom-inter-medium-line-height: 30px;
  --dashboardshoplworkscom-inter-medium-font-weight: 500;
  --dashboardshoplworkscom-inter-medium-font-style: normal;
  --dashboardshoplworkscom-inter-medium-font-family: Inter-Medium, sans-serif;
  --dashboardshoplworkscom-inter-medium-font-size: 14px;
  --dashboardshoplworkscom-inter-medium-line-height: 14px;
  --dashboardshoplworkscom-inter-medium-font-weight: 500;
  --dashboardshoplworkscom-inter-medium-font-style: normal;
  --dashboardshoplworkscom-inter-medium-font-family: Inter-Medium, sans-serif;
  --dashboardshoplworkscom-inter-medium-font-size: 14px;
  --dashboardshoplworkscom-inter-medium-line-height: normal;
  --dashboardshoplworkscom-inter-medium-font-weight: 500;
  --dashboardshoplworkscom-inter-medium-font-style: normal;
  --dashboardshoplworkscom-inter-medium-font-family: Inter-Medium, sans-serif;
  --dashboardshoplworkscom-inter-medium-font-size: 14px;
  --dashboardshoplworkscom-inter-medium-line-height: 24px;
  --dashboardshoplworkscom-inter-medium-font-weight: 500;
  --dashboardshoplworkscom-inter-medium-font-style: normal;
  --dashboardshoplworkscom-inter-medium-font-family: Inter-Medium, sans-serif;
  --dashboardshoplworkscom-inter-medium-font-size: 15px;
  --dashboardshoplworkscom-inter-medium-line-height: 19px;
  --dashboardshoplworkscom-inter-medium-font-weight: 500;
  --dashboardshoplworkscom-inter-medium-font-style: normal;
  --dashboardshoplworkscom-inter-medium-font-family: Inter-Medium, sans-serif;
  --dashboardshoplworkscom-inter-medium-font-size: 16px;
  --dashboardshoplworkscom-inter-medium-line-height: 20px;
  --dashboardshoplworkscom-inter-medium-font-weight: 500;
  --dashboardshoplworkscom-inter-medium-font-style: normal;
  --dashboardshoplworkscom-inter-medium-font-family: Inter-Medium, sans-serif;
  --dashboardshoplworkscom-inter-medium-font-size: 14px;
  --dashboardshoplworkscom-inter-medium-line-height: 48px;
  --dashboardshoplworkscom-inter-medium-font-weight: 500;
  --dashboardshoplworkscom-inter-medium-font-style: normal;
  --dashboardshoplworkscom-inter-medium-font-family: Inter-Medium, sans-serif;
  --dashboardshoplworkscom-inter-medium-font-size: 14px;
  --dashboardshoplworkscom-inter-medium-line-height: 40px;
  --dashboardshoplworkscom-inter-medium-font-weight: 500;
  --dashboardshoplworkscom-inter-medium-font-style: normal;
  --dashboardshoplworkscom-inter-medium-font-family: Inter-Medium, sans-serif;
  --dashboardshoplworkscom-inter-medium-font-size: 14px;
  --dashboardshoplworkscom-inter-medium-line-height: 23.1px;
  --dashboardshoplworkscom-inter-medium-font-weight: 500;
  --dashboardshoplworkscom-inter-medium-font-style: normal;
  --dashboardshoplworkscom-inter-medium-font-family: Inter-Medium, sans-serif;
  --dashboardshoplworkscom-inter-medium-font-size: 14px;
  --dashboardshoplworkscom-inter-medium-line-height: 20px;
  --dashboardshoplworkscom-inter-medium-font-weight: 500;
  --dashboardshoplworkscom-inter-medium-font-style: normal;
  --dashboardshoplworkscom-inter-medium-font-family: Inter-Medium, sans-serif;
  --dashboardshoplworkscom-inter-medium-font-size: 14px;
  --dashboardshoplworkscom-inter-medium-line-height: 75px;
  --dashboardshoplworkscom-inter-medium-font-weight: 500;
  --dashboardshoplworkscom-inter-medium-font-style: normal;
  --dashboardshoplworkscom-inter-medium-font-family: Inter-Medium, sans-serif;
  --dashboardshoplworkscom-inter-medium-font-size: 14px;
  --dashboardshoplworkscom-inter-medium-line-height: 18px;
  --dashboardshoplworkscom-inter-medium-font-weight: 500;
  --dashboardshoplworkscom-inter-medium-font-style: normal;
  --dashboardshoplworkscom-inter-medium-font-family: Inter-Medium, sans-serif;
  --dashboardshoplworkscom-inter-medium-font-size: 14px;
  --dashboardshoplworkscom-inter-medium-line-height: 21px;
  --dashboardshoplworkscom-inter-medium-font-weight: 500;
  --dashboardshoplworkscom-inter-medium-font-style: normal;
  --dashboardshoplworkscom-inter-medium-font-family: Inter-Medium, sans-serif;
  --dashboardshoplworkscom-inter-medium-font-size: 14px;
  --dashboardshoplworkscom-inter-medium-line-height: 32px;
  --dashboardshoplworkscom-inter-medium-font-weight: 500;
  --dashboardshoplworkscom-inter-medium-font-style: normal;
  --dashboardshoplworkscom-inter-medium-font-family: Inter-Medium, sans-serif;
  --dashboardshoplworkscom-inter-medium-font-size: 15.5px;
  --dashboardshoplworkscom-inter-medium-line-height: 26.4px;
  --dashboardshoplworkscom-inter-medium-font-weight: 500;
  --dashboardshoplworkscom-inter-medium-font-style: normal;
  --dashboardshoplworkscom-inter-medium-font-family: Inter-Medium, sans-serif;
  --dashboardshoplworkscom-inter-medium-font-size: 16px;
  --dashboardshoplworkscom-inter-medium-line-height: normal;
  --dashboardshoplworkscom-inter-medium-font-weight: 500;
  --dashboardshoplworkscom-inter-medium-font-style: normal;
  --dashboardshoplworkscom-inter-regular-font-family: Inter-Regular, sans-serif;
  --dashboardshoplworkscom-inter-regular-font-size: 11.25px;
  --dashboardshoplworkscom-inter-regular-line-height: 14px;
  --dashboardshoplworkscom-inter-regular-font-weight: 400;
  --dashboardshoplworkscom-inter-regular-font-style: normal;
  --dashboardshoplworkscom-inter-regular-font-family: Inter-Regular, sans-serif;
  --dashboardshoplworkscom-inter-regular-font-size: 13px;
  --dashboardshoplworkscom-inter-regular-line-height: 18px;
  --dashboardshoplworkscom-inter-regular-font-weight: 400;
  --dashboardshoplworkscom-inter-regular-font-style: normal;
  --dashboardshoplworkscom-inter-regular-underline-font-family: Inter-Regular,
    sans-serif;
  --dashboardshoplworkscom-inter-regular-underline-font-size: 13px;
  --dashboardshoplworkscom-inter-regular-underline-line-height: 18px;
  --dashboardshoplworkscom-inter-regular-underline-font-weight: 400;
  --dashboardshoplworkscom-inter-regular-underline-font-style: normal;
  --dashboardshoplworkscom-inter-semi-bold-font-family: Inter-SemiBold,
    sans-serif;
  --dashboardshoplworkscom-inter-semi-bold-font-size: 12.1875px;
  --dashboardshoplworkscom-inter-semi-bold-line-height: 16px;
  --dashboardshoplworkscom-inter-semi-bold-font-weight: 600;
  --dashboardshoplworkscom-inter-semi-bold-font-style: normal;
  --dashboardshoplworkscom-inter-semi-bold-font-family: Inter-SemiBold,
    sans-serif;
  --dashboardshoplworkscom-inter-semi-bold-font-size: 12.2890625px;
  --dashboardshoplworkscom-inter-semi-bold-line-height: 16px;
  --dashboardshoplworkscom-inter-semi-bold-font-weight: 600;
  --dashboardshoplworkscom-inter-semi-bold-font-style: normal;
  --dashboardshoplworkscom-inter-semi-bold-font-family: Inter-SemiBold,
    sans-serif;
  --dashboardshoplworkscom-inter-semi-bold-font-size: 13px;
  --dashboardshoplworkscom-inter-semi-bold-line-height: 16px;
  --dashboardshoplworkscom-inter-semi-bold-font-weight: 600;
  --dashboardshoplworkscom-inter-semi-bold-font-style: normal;
  --dashboardshoplworkscom-inter-semi-bold-font-family: Inter-SemiBold,
    sans-serif;
  --dashboardshoplworkscom-inter-semi-bold-font-size: 13.125px;
  --dashboardshoplworkscom-inter-semi-bold-line-height: 18px;
  --dashboardshoplworkscom-inter-semi-bold-font-weight: 600;
  --dashboardshoplworkscom-inter-semi-bold-font-style: normal;
  --dashboardshoplworkscom-inter-semi-bold-font-family: Inter-SemiBold,
    sans-serif;
  --dashboardshoplworkscom-inter-semi-bold-font-size: 14px;
  --dashboardshoplworkscom-inter-semi-bold-line-height: 18px;
  --dashboardshoplworkscom-inter-semi-bold-font-weight: 600;
  --dashboardshoplworkscom-inter-semi-bold-font-style: normal;
  --dashboardshoplworkscom-inter-semi-bold-font-family: Inter-SemiBold,
    sans-serif;
  --dashboardshoplworkscom-inter-semi-bold-font-size: 14px;
  --dashboardshoplworkscom-inter-semi-bold-line-height: 16px;
  --dashboardshoplworkscom-inter-semi-bold-font-weight: 600;
  --dashboardshoplworkscom-inter-semi-bold-font-style: normal;
  --dashboardshoplworkscom-inter-semi-bold-font-family: Inter-SemiBold,
    sans-serif;
  --dashboardshoplworkscom-inter-semi-bold-font-size: 18px;
  --dashboardshoplworkscom-inter-semi-bold-line-height: 24px;
  --dashboardshoplworkscom-inter-semi-bold-font-weight: 600;
  --dashboardshoplworkscom-inter-semi-bold-font-style: normal;
  --dashboardshoplworkscom-inter-semi-bold-font-family: Inter-SemiBold,
    sans-serif;
  --dashboardshoplworkscom-inter-semi-bold-font-size: 20px;
  --dashboardshoplworkscom-inter-semi-bold-line-height: 14px;
  --dashboardshoplworkscom-inter-semi-bold-font-weight: 600;
  --dashboardshoplworkscom-inter-semi-bold-font-style: normal;
  --dashboardshoplworkscom-inter-semi-bold-font-family: Inter-SemiBold,
    sans-serif;
  --dashboardshoplworkscom-inter-semi-bold-font-size: 20px;
  --dashboardshoplworkscom-inter-semi-bold-line-height: 48px;
  --dashboardshoplworkscom-inter-semi-bold-font-weight: 600;
  --dashboardshoplworkscom-inter-semi-bold-font-style: normal;
  --dashboardshoplworkscom-inter-semi-bold-font-family: Inter-SemiBold,
    sans-serif;
  --dashboardshoplworkscom-inter-semi-bold-font-size: 24px;
  --dashboardshoplworkscom-inter-semi-bold-line-height: 26px;
  --dashboardshoplworkscom-inter-semi-bold-font-weight: 600;
  --dashboardshoplworkscom-inter-semi-bold-font-style: normal;
  --dashboardshoplworkscom-inter-semi-bold-font-family: Inter-SemiBold,
    sans-serif;
  --dashboardshoplworkscom-inter-semi-bold-font-size: 24px;
  --dashboardshoplworkscom-inter-semi-bold-line-height: normal;
  --dashboardshoplworkscom-inter-semi-bold-font-weight: 600;
  --dashboardshoplworkscom-inter-semi-bold-font-style: normal;
  --dashboardshoplworkscom-inter-semi-bold-font-family: Inter-SemiBold,
    sans-serif;
  --dashboardshoplworkscom-inter-semi-bold-font-size: 24px;
  --dashboardshoplworkscom-inter-semi-bold-line-height: 24px;
  --dashboardshoplworkscom-inter-semi-bold-font-weight: 600;
  --dashboardshoplworkscom-inter-semi-bold-font-style: normal;
  --dashboardshoplworkscom-inter-semi-bold-font-family: Inter-SemiBold,
    sans-serif;
  --dashboardshoplworkscom-inter-semi-bold-font-size: 30px;
  --dashboardshoplworkscom-inter-semi-bold-line-height: 24px;
  --dashboardshoplworkscom-inter-semi-bold-font-weight: 600;
  --dashboardshoplworkscom-inter-semi-bold-font-style: normal;
  --dashboardshoplworkscom-inter-bold-font-family: Inter-Bold, sans-serif;
  --dashboardshoplworkscom-inter-bold-font-size: 10.3125px;
  --dashboardshoplworkscom-inter-bold-line-height: 13px;
  --dashboardshoplworkscom-inter-bold-font-weight: 700;
  --dashboardshoplworkscom-inter-bold-font-style: normal;
  --roughsidecokr-semantic-button-font-family: Roboto-Regular, sans-serif;
  --roughsidecokr-semantic-button-font-size: 13px;
  --roughsidecokr-semantic-button-line-height: 18px;
  --roughsidecokr-semantic-button-font-weight: 400;
  --roughsidecokr-semantic-button-font-style: normal;
  --roughsidecokr-semantic-button-font-family: Roboto-Bold, sans-serif;
  --roughsidecokr-semantic-button-font-size: 15px;
  --roughsidecokr-semantic-button-line-height: 20px;
  --roughsidecokr-semantic-button-font-weight: 700;
  --roughsidecokr-semantic-button-font-style: normal;
  --roughsidecokr-semantic-heading-2-title-font-family: Roboto-Regular,
    sans-serif;
  --roughsidecokr-semantic-heading-2-title-font-size: 14px;
  --roughsidecokr-semantic-heading-2-title-line-height: 16.8px;
  --roughsidecokr-semantic-heading-2-title-font-weight: 400;
  --roughsidecokr-semantic-heading-2-title-font-style: normal;
  --roughsidecokr-semantic-heading-3-font-family: Roboto-Regular, sans-serif;
  --roughsidecokr-semantic-heading-3-font-size: 13px;
  --roughsidecokr-semantic-heading-3-line-height: 15.6px;
  --roughsidecokr-semantic-heading-3-font-weight: 400;
  --roughsidecokr-semantic-heading-3-font-style: normal;
  --roughsidecokr-semantic-input-font-family: Roboto-Regular, sans-serif;
  --roughsidecokr-semantic-input-font-size: 12px;
  --roughsidecokr-semantic-input-line-height: normal;
  --roughsidecokr-semantic-input-font-weight: 400;
  --roughsidecokr-semantic-input-font-style: normal;
  --roughsidecokr-semantic-item-font-family: Roboto-Regular, sans-serif;
  --roughsidecokr-semantic-item-font-size: 12px;
  --roughsidecokr-semantic-item-line-height: 18px;
  --roughsidecokr-semantic-item-font-weight: 400;
  --roughsidecokr-semantic-item-font-style: normal;
  --roughsidecokr-semantic-label-font-family: Roboto-Regular, sans-serif;
  --roughsidecokr-semantic-label-font-size: 12px;
  --roughsidecokr-semantic-label-line-height: 18px;
  --roughsidecokr-semantic-label-font-weight: 400;
  --roughsidecokr-semantic-label-font-style: normal;
  --roughsidecokr-roboto-regular-font-family: Roboto-Regular, sans-serif;
  --roughsidecokr-roboto-regular-font-size: 11px;
  --roughsidecokr-roboto-regular-line-height: 15.71px;
  --roughsidecokr-roboto-regular-font-weight: 400;
  --roughsidecokr-roboto-regular-font-style: normal;
  --roughsidecokr-roboto-regular-font-family: Roboto-Regular, sans-serif;
  --roughsidecokr-roboto-regular-font-size: 11px;
  --roughsidecokr-roboto-regular-line-height: 30px;
  --roughsidecokr-roboto-regular-font-weight: 400;
  --roughsidecokr-roboto-regular-font-style: normal;
  --roughsidecokr-roboto-regular-font-family: Roboto-Regular, sans-serif;
  --roughsidecokr-roboto-regular-font-size: 12px;
  --roughsidecokr-roboto-regular-line-height: 56px;
  --roughsidecokr-roboto-regular-font-weight: 400;
  --roughsidecokr-roboto-regular-font-style: normal;
  --roughsidecokr-roboto-regular-font-family: Roboto-Regular, sans-serif;
  --roughsidecokr-roboto-regular-font-size: 13px;
  --roughsidecokr-roboto-regular-line-height: 56px;
  --roughsidecokr-roboto-regular-font-weight: 400;
  --roughsidecokr-roboto-regular-font-style: normal;
  --roughsidecokr-roboto-regular-underline-font-family: Roboto-Regular,
    sans-serif;
  --roughsidecokr-roboto-regular-underline-font-size: 10px;
  --roughsidecokr-roboto-regular-underline-line-height: 21.6px;
  --roughsidecokr-roboto-regular-underline-font-weight: 400;
  --roughsidecokr-roboto-regular-underline-font-style: normal;
  --roughsidecokr-roboto-bold-font-family: Roboto-Bold, sans-serif;
  --roughsidecokr-roboto-bold-font-size: 12px;
  --roughsidecokr-roboto-bold-line-height: 18px;
  --roughsidecokr-roboto-bold-font-weight: 700;
  --roughsidecokr-roboto-bold-font-style: normal;

  /* Effects */
}
